@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

#root,
input:focus,
select:focus,
textarea:focus,
button:focus {
  border: none;
  outline: none;
}

::selection {
  color: #000000;
  background-color: #FFBB45;
}