@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

#root,
input:focus,
select:focus,
textarea:focus,
button:focus {
  border: none;
  outline: none;
}